@import "tailwindcss";

@theme {
  --font-sans: Han, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "Cascadia Code NF", "Cascadia Mono NF", "Cascadia Code",
    "Cascadia Mono", "Cascadia Code PL", "Cascadia Mono PL", ui-monospace,
    SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}

@plugin "@tailwindcss/typography";
@config "./tailwind.config.ts";

[data-footnote-ref]::before {
  content: "[";
}

[data-footnote-ref]::after {
  content: "]";
}

mjx-container[jax="SVG"] > svg {
  display: inline;
}
