<% if (post.photos && post.photos.length){ %>
<div class="article-gallery">
  <div class="article-gallery-photos">
    <% post.photos.forEach(function(photo, i){ %>
      <% if (index){ %>
        <a class="article-gallery-img" href="<%- url_for(post.path) %>" rel="gallery_<%= post._id %>">
          <img data-src="<%- url_for(photo) %>" class="lazy" src="/images/loading.png">
        </a>
      <% } else { %>
        <span class="article-gallery-img">
          <img data-src="<%- url_for(photo) %>" class="lazy" src="/images/loading.png">
        </span>
      <% } %>
    <% }) %>
  </div>
</div>
<% } %>

