<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner" lang="en-US">
      &copy; 2019-{new Date().getFullYear()} Daniel Ding<br />
      Moe is the cosmos.
    </div>
  </div>
</footer>
