---
import '../../styles/style.styl'
import DarkReader from './DarkReader.astro'
---

<head>
  <meta charset="utf-8" />
  <title>Daniel’s Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/images/logo.png" />
  <link rel="stylesheet" href="/css/prism.css" />
  <DarkReader />
  <!-- <link rel="stylesheet" href="/css/wind-comment.css" /> -->
</head>
