<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner" lang="en-US">
      &copy; 2019-<%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      Moe is the cosmos.
    </div>
  </div>
</footer>
