<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner" lang="en-US">
      &copy; 2019-<%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <a href="https://unsplash.com/photos/xXiKQ2AavlY">The background photo</a> by <a href="https://unsplash.com/@clarissemeyer?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Clarisse Meyer</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> | Moe is the cosmos.
    </div>
  </div>
</footer>
