<nav id="mobile-nav">
  <a href="/" class="mobile-nav-link"><%= __('home') %></a>
  <a href="/archives" class="mobile-nav-link"><%= __('archives') %></a>
  <a href="https://me.moecm.com" class="mobile-nav-link"><%= __('about') %></a>
</nav>