#footer
  background: color-footer-background
  padding: 25px 0
  border-top: 1px solid color-border
  color: color-grey
  text-align: center
  box-shadow: 0 4px 10px rgba(0,2,4,0.06),0 0 1px rgba(0,2,4,0.11)
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em