---
import type { Page } from 'astro'
import type { Article } from '../pages/article'
import ChevronLeftIcon from './icons/ChevronLeftIcon.astro'
import ChevronRightIcon from './icons/ChevronRightIcon.astro'

interface Props {
  page: Page<Article>
}

const { page } = Astro.props
---

{
  page.lastPage > 1 ? (
    <nav class="flex justify-between items-center py-8 px-2 text-gray-600">
      {page.url.prev !== undefined ? (
        <a href={page.url.prev}>
          <ChevronLeftIcon class="w-6 h-6" />
        </a>
      ) : (
        <div class="w-6" />
      )}
      <div>{`${page.currentPage}/${page.lastPage}`}</div>
      {page.url.next !== undefined ? (
        <a href={page.url.next}>
          <ChevronRightIcon class="w-6 h-6" />
        </a>
      ) : (
        <div class="w-6" />
      )}
    </nav>
  ) : (
    ''
  )
}
