---
import type { Page } from 'astro'
import type { Article } from '../pages/article'
import ChevronLeftIcon from './icons/ChevronLeftIcon.astro'
import ChevronRightIcon from './icons/ChevronRightIcon.astro'

interface Props {
  page: Page<Article>
}

const { page } = Astro.props
---

{
  page.lastPage > 1 && (
    <nav class="flex justify-between items-center py-8 px-2 text-sm text-gray-600">
      {page.url.prev !== undefined ? (
        <a href={page.url.prev} aria-label="Previous">
          <ChevronLeftIcon class="w-5 h-5" />
        </a>
      ) : (
        <div class="w-5" />
      )}
      <div>{`${page.currentPage}/${page.lastPage}`}</div>
      {page.url.next !== undefined ? (
        <a href={page.url.next} aria-label="Next">
          <ChevronRightIcon class="w-5 h-5" />
        </a>
      ) : (
        <div class="w-5" />
      )}
    </nav>
  )
}
