---
import type { Page } from 'astro'
import ChevronLeftIcon from 'astro-heroicons/outline/ChevronLeft.astro'
import ChevronRightIcon from 'astro-heroicons/outline/ChevronRight.astro'
import type { Article } from '../utils/article'

interface Props {
  page: Page<Article>
}

const { page } = Astro.props
---

{
  page.lastPage > 1 && (
    <nav class="flex justify-between items-center py-8 px-2 text-sm text-gray-600">
      {page.url.prev !== undefined ? (
        <a href={page.url.prev} aria-label="Previous">
          <ChevronLeftIcon class="size-6" />
        </a>
      ) : (
        <div class="size-6" />
      )}
      <div>{`${page.currentPage}/${page.lastPage}`}</div>
      {page.url.next !== undefined ? (
        <a href={page.url.next} aria-label="Next">
          <ChevronRightIcon class="size-6" />
        </a>
      ) : (
        <div class="size-6" />
      )}
    </nav>
  )
}
