---
import ChevronUpIcon from 'astro-heroicons/outline/ChevronUp.astro'
---

<button
  id="return"
  class="fixed bottom-6 right-6 hidden shadow-md rounded-md p-2 bg-gray-100/75"
>
  <ChevronUpIcon class="size-5" />
</button>

<script>
  document.addEventListener('astro:page-load', () => {
    const returnButton = document.querySelector('#return')
    returnButton?.addEventListener('click', () => {
      scrollTo({ top: 0, behavior: 'smooth' })
    })

    document.addEventListener('scroll', () => {
      if (document.documentElement.scrollTop > 100) {
        returnButton?.classList.remove('hidden')
      } else {
        returnButton?.classList.add('hidden')
      }
    })
  })
</script>
