@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

html, body, #container
  height: 100%

body
  font: font-size font-sans
  -webkit-text-size-adjust: 100%

:lang(en-US)
  font-family: "Helvetica Neue", Roboto, "Segoe UI", SegoeUI, Helvetica, Arial, sans-serif

.outer
  clearfix()
  max-width: (column-width + gutter-width) * columns + gutter-width
  margin: 0 auto
  padding: 0 gutter-width

@media (min-width: 768px)
  .outer
    max-width: 728px;

@media (min-width: 1024px)
  .outer
    max-width: 952px;

.inner
  column(columns)

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

#container
  position: relative

#wrap
  width: 100%
  position: absolute
  top: 0
  left: 0
  transition: 0.2s ease-out
  z-index: 1

@import "_extend"
@import "_partial/article"
@import "_partial/archive"
@import "_partial/footer"

.medium-zoom-overlay
  z-index: 10

.medium-zoom-image--opened
  z-index: 10