---
import ReturnButton from '../components/ReturnButton.astro'
import '../styles/font-han.css'
import type { Lang, Translations } from '../utils/article'
import FooterLayout from './FooterLayout.astro'
import HeaderLayout from './HeaderLayout.astro'

interface Props {
  title?: string
  currentLang: Lang
  id: string | null
  translations: Translations | null
}

const { title, ...props } = Astro.props

function getTitle(base: string) {
  return title?.concat(` | ${base}`) ?? base
}
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{getTitle('Daniel’s Blog')}</title>
    <link rel="icon" href="/images/logo.png" />
  </head>
  <body>
    <HeaderLayout {...props} />
    <main class="max-w-prose mx-auto xl:max-w-[80ch]">
      <slot />
    </main>
    <FooterLayout />
    <ReturnButton />
  </body>
</html>
