---
import ReturnButton from '../components/ReturnButton.astro'
import '../styles/font-han.css'
import FooterLayout from './FooterLayout.astro'
import HeaderLayout, { type Props as HeaderProps } from './HeaderLayout.astro'

type Props = { title?: string } & HeaderProps

const { title, ...headerProps } = Astro.props

function getTitle(base: string) {
  return title?.concat(` | ${base}`) ?? base
}
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{getTitle('Daniel’s Blog')}</title>
    <link rel="icon" href="/images/logo.png" />
  </head>
  <body>
    <HeaderLayout {...headerProps} />
    <main class="max-w-prose mx-auto xl:max-w-[80ch]">
      <slot />
    </main>
    <FooterLayout />
    <ReturnButton />
  </body>
</html>
