---
import '../styles/font-han.css'
import '../styles/prism.css'
import FooterLayout from './FooterLayout.astro'
import HeaderLayout from './HeaderLayout.astro'
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Daniel’s Blog</title>
    <link rel="icon" href="/images/logo.png" />
  </head>
  <body>
    <HeaderLayout />
    <main class="max-w-prose mx-auto xl:max-w-[80ch]">
      <slot />
    </main>
    <FooterLayout />
  </body>
</html>
