---
import AfterFooterLayout from './AfterFooterLayout.astro'
import FooterLayout from './FooterLayout.astro'
import HeaderLayout from './HeaderLayout.astro'
---

<html>
  <head>
    <meta charset="utf-8" />
    <title>Daniel’s Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/prism.css" />
    <!-- <link rel="stylesheet" href="/css/wind-comment.css" /> -->
  </head>
  <body>
    <HeaderLayout />
    <main class="max-w-prose mx-auto xl:max-w-[80ch]">
      <slot />
    </main>
    <FooterLayout />
    <AfterFooterLayout />
  </body>
</html>
