---
import TagIcon from '../components/icons/TagIcon.astro'
import UserIcon from '../components/icons/UserIcon.astro'
---

<header class="p-4 flex justify-between items-center">
  <a href="/" lang="en-US" class="text-xl font-serif font-bold">Daniel’s Blog</a
  >
  <nav class="flex justify-center items-center gap-5">
    <a href="/topics/"><TagIcon class="w-5 h-5" /></a>
    <a href="https://me.moecm.com"><UserIcon class="w-5 h-5" /></a>
  </nav>
</header>
